@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    font-family: 'Nanum Gothic', cursive;
}

body {
    font-family: 'Nanum Gothic', cursive;
    background-image: url('danuri_bg_13.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
    height: 87px;
    left: -11px;
    top: 0px;
    position: absolute;
}

.menubar {
    width: 100.5%;
    height: 87px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); 
    box-sizing: border-box; 
    z-index: auto;
}


.moon {
    font-family: 'Nanum Gothic', cursive;
    left: 930px;
    top: 29px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.info {
    left: 782px;
    top: 29px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.pv {
    left: 1160px;
    top: 29px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.logo {
    left: 34px;
    top: 14px;
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: Orbit;
    font-weight: 400;
    word-wrap: break-word;
}
a {
    text-decoration: none;
    z-index: auto;
    width: auto;
}
.blue > a:hover {
    color: #59A8D9;
}
#title {
    font-family: 'Nanum Gothic', cursive;
    font-size: 50px;
    line-height: 1.6;
    color:white;
    margin-top: 300px;
    margin-left: 100px;
    font-weight: 800;
}
.yellow {
    color:yellow;
}

#bottombar {
    margin-top: 50px;
    margin-left: 30px;
    background-color: rgba( 0, 0, 0, 0.5);
    height: 180px;
    width: 1490px;
}
#current-date {
    font-family: 'Nanum Gothic', cursive;
    font-size: 25px;
    color: white;
    margin-bottom: 100px;
    position: relative;
    left: 700px;
    bottom: 60px;
}
#current-time {
    font-family: 'Nanum Gothic', cursive;
    font-size: 25px;
    color: white;
    position: relative;
    left: 920px;
    bottom: 188.5px;
}
#text {
    font-family: 'Nanum Gothic', cursive;
    font-size: 25px;
    color: white;
    position: relative;
    left: 50px;
    top: 65px;
}
#text1 {
    font-family: 'Nanum Gothic', cursive;
    font-size: 16px;
    color: #c1d7e9;
    margin-bottom: 100px;
    position: relative;
    top: 20px;
    left: 700px;
}
#text2 {
    font-family: 'Nanum Gothic', cursive;
    font-size: 16px;
    color: #c1d7e9;
    margin-bottom: 100px;
    position: relative;
    bottom: 256px;
    left: 1180px;
}
#days-since {
    font-family: 'Nanum Gothic', cursive;
    font-size: 25px;
    color: white;
    position: relative;
    left: 1180px;
    bottom: 336.5px;
}